.header-color {
  background: #8E2DE2;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #4A00E0, #8E2DE2);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #4A00E0, #8E2DE2); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.banner-text {
  background-color: black;
  opacity: .8;
  width: 75%;
  margin: auto;
  border-radius: 10px;
}

.banner-text h1 {
  font-size: 70px;
  font-weight: bold;
  color: white;
  text-align: center;
}

.banner-text p {
  font-size: 20px;
  color: white;
  text-align: center;
  padding: 1em;
}

.socials {
  display: flex;
  justify-content: space-around;
  width: 50%;
  margin: auto;
  color: white;
}

.socials i {
  color: white;
  font-size: 4em;
  padding: 8px;
}

.project-cards {
  display: flex;
  margin-top: 1.5em;
}

/* contact page css */
.contact-body {
  margin: auto;

  position: fixed;
  width: 100%;
  height: 100%;
  justify-content: center;
  padding-top: 2em;
}

/* contact page css */
.contact-grid {
  text-align: center;
  justify-content: center;
  width: 80%;
  height: 550px;
  background: white;
  color: black;
  margin-bottom: 20px;
}

.contact-grid hr {
  border-top: 5px dotted black;
  width: 50%;
  margin: auto;
}

.contact-grid h2 {
  font-family: "Roboto", sans-serif;
  font-weight: bold;
}

.contact-grid p {
  font-family: "Kumbh Sans", sans-serif;
}

.contact-list i {
  font-size: 50px;
  padding-right: 1em;
}

.bio-div {
  margin-top: 1.5em;
}